{% assign link = block.settings.link %}
{% assign image = block.settings.image %}
{% assign text = block.settings.text %}


<style>
* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: block;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

/* For desktop: */
.col-1 {width: 8.33%;}
.col-10 {width: 83.33%;}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}





.logo_slider {
  width:100%;
  overflow: hidden;
  white-space: nowrap;
  border-radius:50px;
}

.ni {
  width: 220px;
  height: 220px;
  display: inline-block;
  text-align: center;
  border-radius:50%;
  border:0px;

}
  .ni1 {
  width: 220px;
  display: inline-block;
  text-align: center;
  border-radius:50%;
  border:0px;
  color:black !important;

}
  a {
  color: white;
    font-weight:bold;
}
.mov_btn{font-size:38px; cursor:pointer; background-color:{{arrow_back}}; padding:{{arrow_pad}}; border-radius:50%;color:{{arrow}};}
  .mov_btn:hover{opacity:{{arrow_opacity}};}
  
  @media only screen and (min-width: 768px) {
  .mov{margin-top:{{section.settings.arrow_adjustment}}%;}
}
</style>

<div class="row">

<div class="col-1 mov" style="text-align:right;"><span id="prev" class="mov_btn">&#8249;</span></div>
<div  id="menu1" class="col-10">
  
  <p class="logo_slider">
  

{% for block in section.blocks %}
  {% case block.type %}
    {% when 'slide' %}  
  <a href="{{link}}">  <img class="ni border" src="https://cdn.shopify.com/s/files/1/0054/8808/3030/{{image}}"> </a> 
    {{image}}
  </p>
 <p class="logo_slider">
  
  
<a href="#">  <span class="ni1 border">{{text}}</span> </a>
  </p>

  {% endcase %}
{% endfor %}

</div>
<div class="col-1 mov"><span id="next" class="mov_btn" style="margin-top:25%;">&#8250;</span></div>
</div>
<script>
$('#prev').on('click', function() {
  $('#menu1 .logo_slider').animate({
    scrollLeft: '-=222'
  }, 300, 'swing');
});

$('#next').on('click', function() {
  $('#menu1 .logo_slider').animate({
    scrollLeft: '+=222'
  }, 300, 'swing');
});
</script>


