<style>
    .active{
        display: block;
    }
    .hide{
        display: none;
    }
    

 
    .activelink{
        color: white;   
        -webkit-box-shadow: 0px 0px 26px -3px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 26px -3px rgba(0,0,0,0.75);
box-shadow: 0px 0px 26px -3px rgba(0,0,0,0.75);     
    }
    .clickme a{
        padding:10px 20px;
        background:#985fb3;
        display: block;
        font-weight:bold;
    }
    .clickme a:hover{
     color:#fff;
    }
    .border-right{
     border-right:1px solid white;
        }
        .tri {
            width: 0px;
            height: 0px;
            border-top: 30px solid transparent;
            border-right: 30px solid red;
          }
          a.giftPopup.btn {
            display: none;
        }
          a.giftPopup.btn.special {
            display: block;
        }
</style>



<div class="ldtwolandpagewrapper ">

    <ul class="m-0 p-0 choice-list container d-none">
      <div class="row">
            <div class="col-6 p-0">
                <li class="clickme border-right p-relat"><a href="javascript:void();" data-tag="one" class="activelink"> <div class="tri"></div> 1 CONTACT INFO
                </a></li> 
            </div>
            <div class="col-6 p-0">
                <li class="clickme"><a href="javascript:void();" data-tag="two"><div class="tri"></div> 2 L</a></li>
            </div>
      
     </div>

    </ul>    

    <div id="containere">
        <div class="list" id="one">
             <h3 class="text-center">CONTACT INFO</h3>
            <div class="klaviyo-form-RCUkKa"></div>
          <div class="clickme">
        
        <a  class="giftPopup btn" href="javascript:void();" data-tag="two"> Get the Deal</a></div> 
        
        </div>
        <div class="list hide" id="two">
        
         {% comment %} inner div  {% endcomment %}

    <h3 class="text-center">CHOOSE PRODUCTS TO SEL</h3>
         <div id="parent-div">
            {%- for block in data -%}

                           {%- case block.type -%}
                               
                             {%- when 'product' -%}
                               {% assign variant = block.settings.product.variants.first %}
                       <div class="singel-item-wrapper checkbox style-b d-flex justify-content-between">
                           <label>
                               {% comment %} | money_without_currency  {% endcomment %}
                           <input type="checkbox"
                               price="{{ block.settings.product.price | money }}"
                               {% if block.settings.checkbok %}
                                 checked
                               {% endif %}
                            
                               title="{{ block.settings.product.title }}" Tprice={{ block.settings.product.price | money_without_currency }} Value="{{ block.settings.product.variants.first.id  }}" />
                           <div class="checkbox__checkmark"></div>
                         
                           <div class="product-title">
                               {{ block.settings.product.title }}
                           </div> 
                        
                       
                       
                       </label>
                           <span class="product-price"> {{ block.settings.product.price | money }}</span>
                       </div>
                   {%- endcase -%}
                   {% endfor %}          

               </div>

   <div class="from-footer">
     
       
           <ul class="m-0">
                   <li class="d-flex justify-content-between">
                   <span>Item</span>
                   <span>amount</span>
                   </li>
                   <hr>
               </ul>

               <ul class="m-0" id="detailsBox">

                   
                   </ul>
               <hr>
               <li class="d-flex justify-content-between">
                   <span>Order Total:</span>
                   <span id="totalPrice">$100.00</span>
                   </li>
           </ul>
       
    
     </div>

        <a class="btn add_to_cart_form">
            <i class="fa-solid fa-angles-right"></i> 
            Complete Order
        
        </a>
        <p>By submitting your order you agree to get your store built for you by us with the apps of our choice installed, you agree to our terms of service, Earnings disclaimer, and prebuilt store purchase agreement.</p>
        </div>
         {% comment %} inner div end {% endcomment %}
        
        
        
        </div>

    </div>   






{% comment %} </div> {% endcomment %}

<script>

     let dataitems = []
      function getCheckedItems(checkbox) {
        // Get the parent div
    const parentDiv = document.getElementById('parent-div');
        // Get all the input fields within the parent div
        const inputFields = parentDiv.querySelectorAll('input[type="checkbox"]:checked');
        let counter = 0;
        var totalPrice = 0;
        // Log the values of the checked input fields
        let allidcollection = [];
        let htmlArray = [];
        inputFields.forEach((input) => {
            console.log(input);
            let productTitle = input.getAttribute('title');
         
            let productid   = input.getAttribute('Value');
            let productPrice  = input.getAttribute('price');
            let allPrice  = parseFloat(input.getAttribute('tprice'));

            totalPrice += allPrice;
            var productDetails = $('<li>').html('<span>'  + productTitle + '</span> <span>'   + productPrice + '</span>');
          
             htmlArray.push(productDetails);
       {% comment %} allidcollection.push(`{'id': ${productid},'quantity': 1 }`); {% endcomment %}
       allidcollection.push({'id': productid,'quantity': 1 });

            counter++;

            // Check if the counter has reached the length of the array
            if (counter === inputFields.length) {
              // Call the function when the loop is finished
         $('#detailsBox li').remove();
         dataitems = [];
              $('#detailsBox').append(htmlArray);
              $('#totalPrice').text('$' + totalPrice);
              dataitems = [...allidcollection];
              console.log(dataitems)
            }  
            
        });
    }






      $(document).ready(function() {
        getCheckedItems();
        $('#parent-div').on('change', function() {
            getCheckedItems(this);
        });
        
        $('.add_to_cart_form').click(function(e ){
            e.preventDefault();
            console.log(dataitems);
          
         $.ajax({
            type: 'POST',
            url: '/cart/add.js',
            dataType: 'json',
            data:{items:[
              ...dataitems
            
            ]},
            success: function(data) {
                console.log("added the data");
                document.location.href = "/checkout";
            },
            error: function(data) {
              console.log("No data is found");
           }
          }); 


        });


      });

    

</script>

<script>
    window.addEventListener('load', function() {
        $("button.needsclick").click(function() {
            console.log("this is working");
            $(".giftPopup").addClass("special");
        });
                {% comment %} $( ".needsclick" ).on( "submit", function( event ) {
                    console.log("this is working sunmit");
            event.preventDefault();
          }); {% endcomment %}
          $(document).ready(function(){
            $('.clickme a').click(function(){
                $('.clickme a').removeClass('activelink');
                $(this).addClass('activelink');
                var tagid = $(this).data('tag');
                $('.list').removeClass('active').addClass('hide');
                $('#'+tagid).addClass('active').removeClass('hide');
            });
        });

    });
  
</script>