

<div class="ldtwolandpagewrapper ">

   <div class="klaviyo-form-RCUkKa"></div>
   <div class="giftPopup">heelo this test</div>
   <a href="#" class="btn needsclicka"> Hello</a>
    <div id="parent-div">
             {%- for block in data -%}

                            {%- case block.type -%}
                                
                              {%- when 'product' -%}
                                {% assign variant = block.settings.product.variants.first %}
                        <div class="singel-item-wrapper checkbox style-b d-flex justify-content-between">
                            <label>
                                {% comment %} | money_without_currency  {% endcomment %}
                            <input type="checkbox"
                                price="{{ block.settings.product.price | money }}"
                                {% if block.settings.checkbok %}
                                  checked
                                {% endif %}
                             
                                title="{{ block.settings.product.title }}" Tprice={{ block.settings.product.price | money_without_currency }} Value="{{ block.settings.product.variants.first.id  }}" />
                            <div class="checkbox__checkmark"></div>
                          
                            <div class="product-title">
                                {{ block.settings.product.title }}
                            </div> 
                         
                        
                        
                        </label>
                            <span class="product-price"> {{ block.settings.product.price | money }}</span>
                        </div>
                    {%- endcase -%}
                    {% endfor %}          

                </div>

    <div class="from-footer">
      
        
            <ul class="m-0">
                    <li class="d-flex justify-content-between">
                    <span>Item</span>
                    <span>amount</span>
                    </li>
                    <hr>
                </ul>

                <ul class="m-0" id="detailsBox">

                    
                    </ul>
                <hr>
                <li class="d-flex justify-content-between">
                    <span>Order Total:</span>
                    <span id="totalPrice">$100.00</span>
                    </li>
            </ul>
        
     
    </div>

    <a class="btn add_to_cart_form">
        <i class="fa-solid fa-angles-right"></i> 
        Complete Order
    
    </a>
    <p>By submitting your order you agree to get your store built for you by us with the apps of our choice installed, you agree to our terms of service, Earnings disclaimer, and prebuilt store purchase agreement.</p>
</div>

<script>

     let dataitems = []
      function getCheckedItems(checkbox) {
        // Get the parent div
    const parentDiv = document.getElementById('parent-div');
        // Get all the input fields within the parent div
        const inputFields = parentDiv.querySelectorAll('input[type="checkbox"]:checked');
        let counter = 0;
        var totalPrice = 0;
        // Log the values of the checked input fields
        let allidcollection = [];
        let htmlArray = [];
        inputFields.forEach((input) => {
            console.log(input);
            let productTitle = input.getAttribute('title');
         
            let productid   = input.getAttribute('Value');
            let productPrice  = input.getAttribute('price');
            let allPrice  = parseFloat(input.getAttribute('tprice'));

            totalPrice += allPrice;
            var productDetails = $('<li>').html('<span>'  + productTitle + '</span> <span>'   + productPrice + '</span>');
          
             htmlArray.push(productDetails);
       {% comment %} allidcollection.push(`{'id': ${productid},'quantity': 1 }`); {% endcomment %}
       allidcollection.push({'id': productid,'quantity': 1 });

            counter++;

            // Check if the counter has reached the length of the array
            if (counter === inputFields.length) {
              // Call the function when the loop is finished
         $('#detailsBox li').remove();
         dataitems = [];
              $('#detailsBox').append(htmlArray);
              $('#totalPrice').text('$' + totalPrice);
              dataitems = [...allidcollection];
              console.log(dataitems)
            }  
            
        });
    }






      $(document).ready(function() {
        getCheckedItems();
        $('#parent-div').on('change', function() {
            getCheckedItems(this);
        });
        
        $('.add_to_cart_form').click(function(e ){
            e.preventDefault();
            console.log(dataitems);
          
         $.ajax({
            type: 'POST',
            url: '/cart/add.js',
            dataType: 'json',
            data:{items:[
              ...dataitems
            
            ]},
            success: function(data) {
                console.log("added the data");
                document.location.href = "/checkout";
            },
            error: function(data) {
              console.log("No data is found");
           }
          }); 


        });


      });

    

</script>

<script>
    window.addEventListener('load', function() {
        $("button.needsclick").click(function() {
            console.log("this is working");
            $(".giftPopup").addClass("special");
        });
                $( ".needsclick" ).on( "submit", function( event ) {
                    console.log("this is working sunmit");
            event.preventDefault();
          });
    });
  
</script>