{% capture bsscommerce_login_require_template %}{% include 'bsscommerce_login_require' %}{% endcapture %}{% unless bsscommerce_login_require_template contains "Liquid error" %}{{ bsscommerce_login_require_template }}{% endunless %}<!doctype html>
<html class="no-js" lang="{{ shop.locale }}">
<head>{% render 'pagefly-head' %}{{ 'tiny.content.min.css' | asset_url | stylesheet_tag }}
  <meta name="google-site-verification" content="_tLUJCHaUWa4xPpzk_Jxzs1g7l4F3AxuZ-5x7Efz-xU" />
  

  <!-- Facebook Pixel Code -->
<script>
  async function asyncCall() {
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '287800103052070');
  fbq('track', 'PageView');
}

asyncCall();
</script>
<noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=287800103052070&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->

 
{% comment %} <script src="{{ 'jquery.min.js' | asset_url }}" ></script> {% endcomment %}
 
{% comment %} <script src="{{ 'aos.js' | asset_url }}" ></script> {% endcomment %}

  {% render 'sizechartsrelentless' %}

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_button }}">
  <link rel="canonical" href="{{ canonical_url }}">
  <meta name="format-detection" content="telephone=no">

  {%- if settings.favicon -%}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png" />
  {%- endif -%}

  {% comment %}
  {% include 'seo-title' %}
  <title>{{ seo_title }}</title>
  {% endcomment %}
  <title>
      {{ page_title }}
  </title>

  {%- if page_description -%}
  <meta name="description" content="{{ page_description | escape }}">
  {%- endif -%}


  {% include 'social-meta-tags' %}

  {% include 'font-face' %}
  {% comment %} {{ 'theme.scss.css' | asset_url | stylesheet_tag }}
  {{ 'DevStyles.css' | asset_url | stylesheet_tag }}
  {{ 'aos.css' | asset_url | stylesheet_tag }} {% endcomment %}

  {% style %}
    .collection-item__title {
      font-size: {{ settings.type_collection_size | times: 0.8 }}px;
    }

    @media screen and (min-width: 769px) {
      .collection-item__title {
        font-size: {{ settings.type_collection_size }}px;
      }
    }
  {% endstyle %}

  <script>

// scripts.js















async function loadStylesheets(urls, callback) {
      var loaded = 0;
      var checkAllLoaded = function() {
        if (++loaded === urls.length && typeof callback === 'function') {
          callback();
        }
      };
      for (var i = 0; i < urls.length; i++) {
        var link = document.createElement('link');
        link.type = 'text/css';
        link.rel = 'stylesheet';
        link.href = urls[i];
        link.onload = checkAllLoaded;
        document.head.appendChild(link);
      }
    }

    loadStylesheets(['{{ 'theme.scss.css' | asset_url}}', '{{ 'DevStyles.css' | asset_url  }}','{{ 'aos.css' | asset_url}}'], function() {
     
    });

    document.documentElement.className = document.documentElement.className.replace('no-js', 'js');

    window.theme = window.theme || {};
    theme.strings = {
      addToCart: {{ 'products.product.add_to_cart' | t | json }},
      soldOut: {{ 'products.product.sold_out' | t | json }},
      unavailable: {{ 'products.product.unavailable' | t | json }},
      stockLabel: {{ 'products.product.stock_label' | t: count: '[count]' | json }},
      willNotShipUntil: {{ 'products.product.will_not_ship_until' | t: date: '[date]' | json }},
      willBeInStockAfter: {{ 'products.product.will_be_in_stock_after' | t: date: '[date]' | json }},
      waitingForStock: {{ 'products.product.waiting_for_stock' | t | json }},
      savePrice: {{ 'products.general.save_html' | t: saved_amount: '[saved_amount]' | json }},
      cartEmpty: {{ 'cart.general.empty' | t | json }},
      cartTermsConfirmation: {{ 'cart.general.terms_confirm' | t | json }}
    };
    theme.settings = {
      dynamicVariantsEnable: true,
      dynamicVariantType: {{ settings.variant_type | json }},
      cartType: {{ settings.cart_type | json }},
      currenciesEnabled: {{ settings.enable_currencies | json }},
      nativeMultiCurrency: {{ shop.enabled_currencies.size }} > 1 ? true : false,
      moneyFormat: {{ shop.money_format | json }},
      saveType: {{ settings.product_save_type | json }},
      recentlyViewedEnabled: false,
      predictiveSearch: {{ settings.predictive_search_enabled }},
      predictiveSearchType: {{ settings.search_type | json }},
      inventoryThreshold: {{ settings.inventory_threshold }},
      quickView: {{ settings.quick_shop_enable }}
    };
  </script>

  {% render 'header-scripts.zipifypages', renderctx: 'thm' %}{{ content_for_header }}

  {% comment %} <script src="{{ 'vendor-scripts-v5.js' | asset_url | split: '?' | first }}" defer="defer"></script> {% endcomment %}

  {% if settings.enable_currencies %}
    {% unless shop.enabled_currencies.size > 1 %}
      <script src="/services/javascripts/currencies.js" defer="defer"></script>
      <script src="{{ 'currencies.jquery.min.js' | asset_url | split: '?' | first }}" defer="defer"></script>
    {% endunless %}
    <link rel="stylesheet" href="{{ 'currency-flags.css' | asset_url }}">
<script>
    loadStylesheets(['{{ 'currency-flags.css' | asset_url }}'], function() {
       
    });
  </script>
  {% endif %}

  {% comment %} <script src="{{ 'theme.js' | asset_url }}" defer="defer"></script> {% endcomment %}

  {%- if request.page_type contains 'customers/' -%}
    <script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script>
  {%- endif -%}
{% include 'booster-common' %}
{% include 'ufe-offer' %}
  {% include "manychat-header" %}

{% include "omega_multi_pixel" %} {% render "rale-render" %}


{% include "omega_multi_pixel" %} </head>{% include 'izyrent' %}

<body class="{{ collection.handle }}  template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}{% if settings.enable_currencies %} currencies-enabled{% endif %}" data-transitions="false">

  {% comment %}
    Enable below script if page transitions enabled
  {% endcomment %}
  {% comment %}
  <script type="text/javascript">window.setTimeout(function() { document.body.className += " loaded"; }, 25);</script>
  {% endcomment %}

  <a class="in-page-link visually-hidden skip-link" href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a>

  <div id="PageContainer" class="page-container">
    <div class="transition-body">

    {% section 'header' %}

      <main class="main-content" id="MainContent">
        {{ content_for_layout }}
      {% capture bsscommerce_passcode_to_see_price_product_custom %}{% render 'bss-passcode-to-see-price-js.liquid' %}{% endcapture %}{% unless bsscommerce_passcode_to_see_price_product_custom contains "Liquid error" %}{% render 'bss-passcode-to-see-price-js.liquid' %}{% endunless %}{% capture bsscommerce_login_to_see_price_product_custom %}{% render 'bsscommerce-login-to-see-price-custom-js.liquid' %}{% endcapture %}{% unless bsscommerce_login_to_see_price_product_custom contains "Liquid error" %}{% render 'bsscommerce-login-to-see-price-custom-js.liquid' %}{% endunless %}</main>

      {% section 'footer-promotions' %}
      {% section 'footer' %}

    </div>
  </div>

  {% section 'newsletter-popup' %}

  {%- if settings.cart_type == 'drawer' -%}
    {%- include 'ajax-cart-template' -%}
  {%- endif -%}

  {%- if settings.enable_currencies -%}
    {%- include 'currency-modal' -%}
  {%- endif -%}

  {% comment %}
    Custom markup for slider arrows using theme icons
  {% endcomment %}
  <div class="hide">
    <button id="prevArrowTemplate" class="slick-prev" aria-label="{{ 'general.pagination.previous' | t }}" type="button">
      <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-chevron-left" viewBox="0 0 284.49 498.98"><path d="M249.49 0a35 35 0 0 1 24.75 59.75L84.49 249.49l189.75 189.74a35.002 35.002 0 1 1-49.5 49.5L10.25 274.24a35 35 0 0 1 0-49.5L224.74 10.25A34.89 34.89 0 0 1 249.49 0z"/></svg>
      <span class="icon__fallback-text">{{ 'general.pagination.previous' | t }}</span>
    </button>
    <button id="nextArrowTemplate" class="slick-next" aria-label="{{ 'general.pagination.next' | t }}" type="button">
      <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-chevron-right" viewBox="0 0 284.49 498.98"><path d="M35 498.98a35 35 0 0 1-24.75-59.75l189.74-189.74L10.25 59.75a35.002 35.002 0 0 1 49.5-49.5l214.49 214.49a35 35 0 0 1 0 49.5L59.75 488.73A34.89 34.89 0 0 1 35 498.98z"/></svg>
      <span class="icon__fallback-text">{{ 'general.pagination.next' | t }}</span>
    </button>
  </div>

  {%- if settings.predictive_search_enabled -%}
    {%- include 'predictive-template' -%}
  {%- endif -%}

  {% include 'video-modal' %}
  {% include 'photoswipe-template' %}
  {% if template contains 'product' %}
    {% include 'recently-viewed-product-template' %}
  {% endif %}
{% include 'booster-discounts' %}
  {% include 'sezzle-payments' %}

 {% include 'smile-initializer' %}

{% render 'page-footer.zipifypages', renderctx: 'thm', ocuapp: ocuapp %}
{% if product %}
<script>




  async function loadScripts(urls, length, success){
    if(length > 0){
        script = document.createElement("script");
        script.src = urls[length-1];
        console.log();
        script.onload = function() {
            console.log('%c Script: ' + urls[length-1] + ' loaded!', 'color: #4CAF50');
            loadScripts(urls, length-1, success);               
        };
        document.getElementsByTagName("head")[0].appendChild(script);
    }
    else{
        if(success){
            success();
        }
    }
  }
  
  /* Write links sorted from last one to first to load */
  /* Here, jquery will be loaded first, then materialize and then wow libray. */
  urls = [ '{{ 'vendor-scripts-v5.js' | asset_url | split: '?' | first }}', '{{ 'theme.js' | asset_url }}', '{{ 'aos.js' | asset_url }}' ,'{{ 'jquery.min.js' | asset_url }}'];
  
  loadScripts(urls, urls.length, function(){
    /* Codes inside of here will be executed after js files load */
    AOS.init();
  
  
    $(".itemDot a").click(function(event) {
  
        
  
      var newWindowWidth = $(window).width();
      if (newWindowWidth > 600) {
        event.preventDefault();
      }
  });
  
  
    var maxData = 3;
    let i = 2;
  
    $(document).ready(function () {
      var radius = 200;
      var fields = $('.itemDot');
      var container = $('.dotCircle');
      var width = container.width();
      radius = width / 2.5;
  
      var height = container.height();
      var angle = 0,
        step = (2 * Math.PI) / fields.length;
      fields.each(function () {
        var x = Math.round(width / 2 + radius * Math.cos(angle) - $(this).width() / 2);
        var y = Math.round(height / 2 + radius * Math.sin(angle) - $(this).height() / 2);
        if (window.console) {
          console.log($(this).text(), x, y);
        }
  
        $(this).css({
          left: x + 'px',
          top: y + 'px',
        });
        angle += step;
      });
  
      $('.itemDot').click(function () {
        var dataTab = $(this).data('tab');
        $('.itemDot').removeClass('active');
        $(this).addClass('active');
        $('.CirItem').removeClass('active');
        $('.CirItem' + dataTab).addClass('active');
        i = dataTab;
  
        $('.dotCircle').css({
          transform: 'rotate(' + (360 - (i - 1) * 36) + 'deg)',
          transition: '2s',
        });
        $('.itemDot').css({
          transform: 'rotate(' + (i - 1) * 36 + 'deg)',
          transition: '1s',
        });
      });
  
      setInterval(function () {
        var dataTab = $('.itemDot.active').data('tab');
        if (dataTab > maxData || i > maxData) {
          dataTab = 1;
          i = 1;
        }
        $('.itemDot').removeClass('active');
        $('[data-tab="' + i + '"]').addClass('active');
        $('.CirItem').removeClass('active');
        $('.CirItem' + i).addClass('active');
        i++;
  
        $('.dotCircle').css({
          transform: 'rotate(' + (360 - (i - 2) * 36) + 'deg)',
          transition: '2s',
        });
        $('.itemDot').css({
          transform: 'rotate(' + (i - 2) * 36 + 'deg)',
          transition: '1s',
        });
      }, 5000);
    });
  });
  






  
window.addEventListener('load', function() {
var _learnq = window._learnq || [];
function addedToCart() {
  fetch(`${window.location.origin}/cart.js`)
  .then(res => res.clone().json().then(data => {
    var cart = {
      total_price: data.total_price/100,
      $value: data.total_price/100,
      total_discount: data.total_discount,
      original_total_price: data.original_total_price/100,
      items: data.items
    }
    if (item !== 'undefined') {
      cart = Object.assign(cart, item)
    }
    if (klAjax) {
        _learnq.push(['track', 'Added to Cart', cart]);
        klAjax = false;
      }
  }))
};
(function (ns, fetch) {
  ns.fetch = function() {
    const response = fetch.apply(this, arguments);
    response.then(res => {
      if (`${window.location.origin}/cart/add.js`
      	.includes(res.url)) {
        	addedToCart()
      }
    });
    return response
  }
}(window, window.fetch));
var klAjax = true;
var atcButtons = document.querySelectorAll("form[action*='/cart/add'] button[type='submit']");
for (var i = 0; i < atcButtons.length; i++) {
    atcButtons[i].addEventListener("click", function() {
      if (klAjax) {
        _learnq.push(['track', 'Added to Cart', item]);
        klAjax = false;
      }
    })
}
});






















</script>



{% endif %}
</body>
</html>
