    <!-- header start -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- font link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    {{ 'Ldone.css' | asset_url | stylesheet_tag }}


    <header>
        <a href="#" class="logo">
            <img style="width: 150px;" src="{{ section.settings.img | img_url:''}}" alt="">
        </a>
        <div class="bx bx-menu" id="menu-icon"></div>
        <ul class="navbar">
            {% assign footer_menu_4 = section.settings.main-menu2 %}
            {% for link in linklists[footer_menu_4].links %}
            <li><a href="{{ link.url }}" >{{link.title}}</a></li>
 
            {% endfor  %}
        </ul>
     
           <a  class="btn" href="">{{ section.settings.btn }}</a>
        
    </header>
    <!-- header end -->

    <script>
        $(document).ready(function() {
      
        $( '.toproduct' ).on( 'click', function(e){
          e.preventDefault();
         
          // Run a scroll animation to the position of the element which has the same id like the href value.
          $( 'html, body' ).animate({
            scrollTop: $("#CollectionSection").offset().top
          }, '300' );
        
        
        });
      
      });
      </script>

{% schema %}
    {
        "name": "LP header 01",
        "class": "lp1",
        "settings": [
             {
                "type": "image_picker",
                "id": "img",
                "label": "Logo"
             },
             {
                "type": "link_list",
                "id": "main-menu2",
                "label": "Select your menu"
             },
                 {
                    "type": "text",
                    "id": "btn",
                    "label": "Button Title",
                    "default": " Buy Now "
                 }
        ],
        "presets": [
            {
            "name": "LD One header"
            }
            ]
    }
{% endschema %}
