 <!-- course section -->
 <section class="course mt-5">
    <div class="container">
  
        <!-- second row -->
        <div class="row mt-5 g-3">
            <div class="col-lg-6 col-md-12 col-sm-12">
                <video muted autoplay loop playsinline controls width="100%">
                    <source src="{{ section.settings.video.sources[1].url }}" type="video/mp4">
                    </video>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="couser-outline">
                    <h3>{{ section.settings.title }}</h3>
                  {% for item in section.blocks %}
                    <p>{{ item.settings.title }} {{forloop.index }} </p>
                    <p>{{ item.settings.p }}</p>
      
                  {% endfor %}
               
                    
                    
                </div>
            </div>
        </div>
    </div>
</section>
<!-- course section -->

{% schema %}
    {
        "name": "Course Outline ",
        "class": "Course Outline",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Course Outline ",
            "placeholder": "Course Outline"
          },
          {

            "id": "video",
            "label": "Video Upload",
            "type": "video"
           }
        ],
        "blocks": [
            {
                "type": "content",
                "name": "content",
                "settings": [
                     {
                        "type": "text",
                        "id": "title",
                        "label": "Text-title",
                        "default": "Chapter ",
                        "placeholder": "Chapter "
                     },
                     {
                        "type": "text",
                        "id": "p",
                        "label": "Text-title",
                        "default": "Getting Started With Shopify Store",
                    
                        "placeholder": "Getting Started With Shopify Store"
                     }
                ]
            }
        ],
        "presets": [
            {
            "name": "Course Outline",
            "category": "Course Outline"
            }
            ]
        
    }
{% endschema %}
