    <!-- slider section -->
    <section class="slider">
        <div class="CHOOSE">
            <h2>{{ section.settings.title }}</h2>
        </div>
        <div class="container">
            <div class="row d-flex align-items-center">
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <div class="slider-img">
                        <img class="img-fluid" src="{{ section.settings.img | img_url:'' }}" alt="">
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <div class="slider-datails">
                        {{ section.settings.rtext }}
                   
                       <a href="#" class="btn">{{ section.settings.title2 }}</a>
                    
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- slider section -->

    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="dashboard-img">
                        <img class="img-fluid" src="{{ section.settings.img2 | img_url:'' }}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% schema %}
    {
        "name": "HURRY, YOUR",
        "class": "HURRY",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Course Outline ",
            "placeholder": "Course Outline"
          },
   
          {
            "type": "image_picker",
            "id": "img",
            "label": "Select your Image"
          },
          {
            "type": "richtext",
            "id": "rtext",
            "label": "Dec",
            "default": " <p><b>Aneka has been in the sea moss industry for over three years.</b> In that short period of time she has been able to scale her business from <b>making $58,000 in 2020 to already earning over $100,000 in 8 months time during 2021.</b> This income was generated from her Shopify site alone. She consistently receives over <b>200+ orders in a month</b> and she is ready to teach others how to do the same.</p>"
          },
          {
            "type": "text",
            "id": "title2",
            "label": "Title two",
            "default": "KNOW MORE",
            "placeholder": "KNOW MORE"
          },   {
            "type": "image_picker",
            "id": "img2",
            "label": "Select your Image"
          }

          
        ],
        "presets": [
            {
            "name": "CHOOSE ANEKA"
       
            }
            ]
        
    }
{% endschema %}


<style>
    .slider-datails h4 {
        line-height: 1.2;
    }
    .dashboard-img{
      margin-top:5vh;
    }
</style>