<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="{{ 'waypoints.min.js' | asset_url }}"></script>
<script src="{{ 'jquery.counterup.min.js' | asset_url }}"></script>
   
<style>

.count-up{

 padding: 40px 0;
 background:#81298d;
 color:#fff;
}

.count-up p{
 font-size: 16px;
 font-weight:bold;
}
</style>


   <!-- card section start -->
    <section class="count-up  ">
        <div class="container">
            <div class="row">
        
                <div class="col-12 mb-5 ">
                    <h3 class="text-center">{{ section.settings.title }}</h3>
                </div>
            </div>
            <div class="row  d-flex  align-items-center ">
            {% for item in section.blocks %}
               
          
                    <div class="col-lg-4 col-md-4 col-sm-6 col-12 ">
                        <p class="text-center"><span class="counter">{{ item.settings.dec }} + </span> {{ item.settings.title }}</p>
                    </div>
                    <!-- second row -->
                    
                
            {% endfor %}
           </div>


       
    </section>
    <!-- card section end -->

    <style>
    
    .count-up {
       
    }
    </style>

    <script>
        $( document ).ready(function() {
            $('.counter').counterUp({
                delay: 10,
                time: 1000
            });
        });
      </script>

    {% schema %}
    {
        "name": "LD three count up",
        "class": "ldtwoc",
        "settings": [
            {
              "type": "text",
              "id": "title",
              "label": "Title",
              "default": "GLOBAL SOCIAL MEDIA REACH & AUDIENCE IMPACT"
            }
        ],
        "blocks": [
            {
                "type": "feature",
                "name": "feature",
                "settings": [
    
            
                     {
                        "type": "text",
                        "id": "title",
                        "label": "Title",
                        "default": "Monthly Website visits"
                     },
                     {
                        "type": "text",
                        "id": "dec",
                        "label": "Decription",
                        "default": "120"
                     }
                 
                ]
            }
        ],
        
        "presets": [
            {
            "name": "LD three countup"
            }
            ]
    }
 {% endschema %}