    <!-- footer section -->
    <section class="footer section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <img class="img-fluid" src="{{ section.settings.img }}" alt="">
                    <p>{{ section.settings.p }}</p>
                    <ul>

       
                        {% assign footer_menu_4 = section.settings.main-menu2 %}
                        {% for link in linklists[footer_menu_4].links %}
                        <li><a href="{{ link.url }}" >{{link.title}}</a></li>
             
                        {% endfor  %}
                  

                    </ul>
                    {% comment %} <p class="my-5">*You recognize and agree that we "Ecom Websites LLC" & ecom-websites.com have made
                        no implications, warranties, promises, suggestions, projections, representations or guarantees
                        whatsoever to you about future sales or results, or that you will earn any money and that we
                        have not authorized any such projection, promise, or representation by others. You must obtain
                        advice on taxes (affiliate marketing taxes, sales tax, income tax, business taxes, etc.) from a
                        tax professional. You must obtain business formation, legal and patent advice from a legal
                        professional. we take no responsibility for any information given that falls under those
                        categories. You accept that we are not tax or legal professionals. You must consult a legal
                        professional for advice on these topics. we make absolutely NO guarantee of success, monetary or
                        otherwise, and we take no responsibility for any time or money spent in relation to this
                        service, course, products, advertising, our assistance, or otherwise. Only one person may access
                        our products per purchase. If a user is seen allowing others to use his account to access the
                        course, that person will be removed the course without a refund. You may not share this
                        information with others not enrolled in the course. If you are found uploading these videos or
                        sharing information anywhere else, you will be removed without refund. Results may vary. You
                        Accept that although you use our services & Products, you may not receive the sales or income
                        desired. we are not responsible for your well-being or your income. Please be aware of this.</p>
                    <p class="mb-4">
                        By Purchasing our stores you are acknowledging that you are receiving a prebuilt store(s). These
                        are stores that were built prior to purchase which means multiple customers could receive the
                        same design. These are stepping stones for a store design and should NOT be considered a
                        "business" you are simply purchasing a design of your store on the Shopify platform. You can
                        build your own store for free at Shopify.com Please do not consider this a "Make money"
                        opportunity, we're simply designing a store for you. </p>
                    <h4 class="footer-spacial mb-4">WE DO NOT CLAIM THAT YOU WILL MAKE ANY INCOME ON YOUR WEBSITE. WE
                        ARE NOT A BUSINESS OPPORTUNITY, WE ARE A WEBSITE DESIGN AGENCY. </h4>
                    <p>Ecom Websites LLC is a participant in the Shopify Affiliate Program, an affiliate advertising
                        program designed to provide a means for sites to earn advertising fees by advertising and
                        linking to Shopify.com. As an affiliate, Ecom Websites LLC earns commissions on qualified
                        purchases made through links on this website and services that are delivered to our clients. The
                        commissions earned help to support the operation of this website and provide valuable content to
                        our readers. Ecom Websites LLC only recommends products and services that we have personally
                        used and believe in the quality of.
                    </p>
                    <p>
                        This site is not part of the Facebook website or Facebook Inc. Additionally, this site is NOT
                        endorsed by Facebook in any way. Facebook is a trademark of FACEBOOK, Inc.
                    </p>

                    <p>Ecom Websites LLC</p>

                    <p>835 E. Camelback Rd, Scottsdale, AZ, 85251</p>

                    <p>Hit the Chat bubble to contact us! </p> {% endcomment %}
                       
                     {{ section.settings.textr }}
                </div>
            </div>
        </div>
    </section>
    <!-- footer section -->




    {% schema %}
    {
        "name": "LD two Footer",
        "class": "ldtwof",
        "settings": [
           {
            "type": "image_picker",
            "id": "img",
            "label": "Header Image"
           },

           {
            "type": "text",
            "id": "p",
            "label": "Decription",
            "default": "Copyright Ecom Websites LLC © 2022 All Rights Reserved"
           },
           {
            "type": "link_list",
            "id": "main-menu2",
            "label": "Select your footer menu"
        },
           {
            "type": "richtext",
            "id": "textr",
            "label": "Select your Rich text",
            "default": "<p> or that you will earn any money and that we</p>"
           }
        ],
      
        "presets": [
            {
            "name": "LD Two footer"
            }
            ]
    }
 {% endschema %}